<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: black; color: white; ">
    <center>
    <p class="err">ERROR</p>
    <p class="err-msg"> Credentials Not Found</p>
    <br>
    <br>
    <br>
    <form action="/" method="GET">
       <button class="error-btn" type="submit">Go Back </button>
    </form>
    </center>
</body>
</html>